html {
  --shadow-color: #bababa;
  --shadow-contrast-color: #0c0e19;
}
$shadow-color: #bababa;
$shadow-contrast-color: #ffffff;

$border-color: #33394c;

$attach-color: #eaeaea;
$primary-color: #65dc8f;

