html {
  --shadow-color: #bababa;
  --shadow-contrast-color1: #0c0e19;
}
$shadow-color: #bababa;
$shadow-contrast-color: #ffffff;

$border-color: #33394c;
$main-bg-color: #1c2238;
$attach-bg-color: #262d47;

$attach-color: #eaeaea;
$primary-color: #65dc8f;
$contrast-color: #ffffff;
$text-color: #ffffff;


$down-color: #ff4d4f;
$up-color: #52c41a;
