@function getShadow() {
  $size: 0.5rem;
  $color: var(--shadow-color);
  $contrast-color: var(--shadow-contrast-color);
  @return $size $size $size * 2 $color,
         (-$size) (-$size) $size * 2 $contrast-color;
}
@function getShadowInset() {
  $size: 0.5rem;
  $color: var(--shadow-color);
  $contrast-color: var(--shadow-contrast-color);
  @return $size 0 $size * 2 $color inset;
}
@mixin halfBox {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}
.auth-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/loginImg/loginBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.auth-box {
  width: 740px;
  height: 100%;
  margin: 0 180px 0 auto;
  // overflow: hidden;
  position: relative;
  background: var(--shadow-contrast-color1);
}
.auth-banner {
  @include halfBox;
  left: 0;
  transition: left 0.3s ease-in-out;
  z-index: 2;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: getShadow();
  }
}
.auth-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auth-func {
  width: 100%;
  transition: left 0.3s ease-in-out;
  overflow: auto;
  display: flex;
  justify-content: center;
}
.auth-btns{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 80px;
  &-btn{
    width: 120px;
    height: 44px;
    border-radius: 22px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #354060;
    font-size: 16px;
    color: #65dc8f;
    margin-right: 20px;
    cursor: pointer;
    &.active{
      background: #65dc8f;
      color: #000000;
      border-color: #65dc8f;
    }
  }
}
.auth-register {
  .auth-banner {
    left: 50%;
    &::after {
      box-shadow: getShadowInset();
    }
  }
  .auth-func {
    left: 0;
  }
}
