@font-face {
  font-family: "iconfont"; /* Project id 4047175 */
  src: url('iconfont.woff2?t=1688892399094') format('woff2'),
       url('iconfont.woff?t=1688892399094') format('woff'),
       url('iconfont.ttf?t=1688892399094') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhiwenjian:before {
  content: "\e600";
}

.icon-facebook:before {
  content: "\e6d9";
}

.icon-zhengquewancheng2:before {
  content: "\e632";
}

.icon-jiqiren:before {
  content: "\e6ac";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-0-58:before {
  content: "\e607";
}

.icon-huazhuan-4:before {
  content: "\e676";
}

.icon-discord:before {
  content: "\ebf8";
}

.icon-huzhuan:before {
  content: "\e851";
}

.icon-zijinguiji:before {
  content: "\e852";
}

.icon-daoru:before {
  content: "\e635";
}

.icon-shuaxin:before {
  content: "\e6a2";
}

.icon-qianbao:before {
  content: "\e61d";
}

.icon-a-13:before {
  content: "\e84d";
}

.icon-a-21:before {
  content: "\e84e";
}

.icon-a-31:before {
  content: "\e84f";
}

.icon-a-4:before {
  content: "\e850";
}

.icon-piliangchexiao:before {
  content: "\e84a";
}

.icon-piliangmairu:before {
  content: "\e84b";
}

.icon-piliangmaichu:before {
  content: "\e84c";
}

.icon-guanbi:before {
  content: "\e6b5";
}

.icon-cuowu:before {
  content: "\e657";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-xiangji1:before {
  content: "\e77f";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-fangda:before {
  content: "\e666";
}

.icon-arrowright:before {
  content: "\e61c";
}

.icon-shuaxin-:before {
  content: "\e61b";
}

.icon-jilu:before {
  content: "\e62c";
}

.icon-jian:before {
  content: "\e849";
}

.icon-jia-:before {
  content: "\e72b";
}

.icon-USDT:before {
  content: "\e667";
}

.icon-BTC:before {
  content: "\e66e";
}

.icon-a-5:before {
  content: "\e83e";
}

.icon-a-6:before {
  content: "\e83f";
}

.icon-a-3:before {
  content: "\e840";
}

.icon-a-9:before {
  content: "\e841";
}

.icon-a-8:before {
  content: "\e842";
}

.icon-a-10:before {
  content: "\e843";
}

.icon-a-7:before {
  content: "\e844";
}

.icon-a-2:before {
  content: "\e845";
}

.icon-a-11:before {
  content: "\e846";
}

.icon-a-12:before {
  content: "\e847";
}

.icon-a-1:before {
  content: "\e848";
}

.icon-yuyan:before {
  content: "\e60b";
}

.icon-dianxiangengduo:before {
  content: "\e6b3";
}

.icon-xianxinggengduo:before {
  content: "\e6b8";
}

.icon-yuyan1:before {
  content: "\e6a0";
}

