<div class="robots-work">
  <div class="robots-work-title">
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a [routerLink]="['/core/trade/robots']">操盘机器人</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>添加机器人</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="robot-list">
    <div class="robot-list-title">个人版</div>
    <div class="robot-list-info">
      <div class="robot-list-item">
        <img src="/assets/loginImg/robot1.png" alt="">
        <div class="text">高抛低吸机器人</div>
      </div>
      <div class="robot-list-item">
        <img src="/assets/loginImg/robot2.png" alt="">
        <div class="text">分批卖出机器人</div>
      </div>
      <div class="robot-list-item">
        <img src="/assets/loginImg/robot3.png" alt="">
        <div class="text">搬砖机器人</div>
      </div>
      <div class="robot-list-item">
        <img src="/assets/loginImg/robot4.png" alt="">
        <div class="text">马丁策略量化机器人</div>
      </div>
      <div class="robot-list-item">
        <img src="/assets/loginImg/robot5.png" alt="">
        <div class="text">网络策略机器人</div>
      </div>
    </div>
  </div>
</div>