<div class="container" nz-row>
  <div class="operation-area" nz-col>
    <div class="page-info" nz-row nzAlign="middle">
      <p class="margin-none" nz-col>
        当前盘口：
        <span class="page-info-value">{{(platform|async)?.name}} {{(symbols|async)?.join('/')}}</span>
      </p>
      <p class="margin-none token-info-price" nz-col>
        现价:
        <span [ngClass]="'token-info-price-' + tokenDirection">{{tokenNowPrice}}</span>
        <small>{{(symbols|async)?.join('/')}}</small>
      </p>
      <button nz-button nzType="text" nz-col [nzSpan]="4" [nzOffset]="1" (click)="onSwitchCollected()">
        <span nz-icon nzType="star" [ngClass]="isCollected ? 'color-primary' : 'opacity-5'"
          [nzTheme]="isCollected ? 'fill' : 'outline'"></span>
        收藏当前盘口
      </button>
      <button nz-col [nzOffset]="1" nz-button nzShape="round" nzSize="small" nzType="primary"
        (click)="onSelectPlatform(true)">
        选择盘口
      </button>
    </div>
    <div class="page-main" nz-row>
      <div class="page-action" nz-col [nzSpan]="6">
        <!-- tools -->
        <div class="action-tabs">
          <button nz-button nzType="text" class="action-tab" [ngClass]="{'action-tab-active':  actionType === 0}"
            (click)="actionType = 0">
            手动下单
          </button>
          <button nz-button nzType="text" class="action-tab" [ngClass]="{'action-tab-active':  actionType === 1}"
            (click)="actionType = 1">
            量化交易
          </button>
        </div>
        <div class="action-list">
          <!-- 手动下单 -->
          <div class="handle-form" *ngIf="actionType === 0">
            <div>
              <p nz-typography nzType="secondary">价格</p>
              <nz-input-group class="text-center" [nzAddOnBefore]="cutPrice" [nzAddOnAfter]="addPrice">
                <input nz-input type="number" id="price" class="text-center" [(ngModel)]="manualOrder.price">
              </nz-input-group>
              <ng-template #cutPrice>
                <button nzSize="small" nz-button nzType="text" (click)="onManualOrderPriceChange('cut')">-</button>
              </ng-template>
              <ng-template #addPrice>
                <button nzSize="small" nz-button nzType="text" (click)="onManualOrderPriceChange('add')">+</button>
              </ng-template>
            </div>
            <div>
              <p nz-typography nzType="secondary" class="padding-top-10">数量</p>
              <nz-input-group class="text-center" [nzAddOnBefore]="cutNumber" [nzAddOnAfter]="addNumber">
                <input nz-input type="number" id="number" [(ngModel)]="manualOrder.number">
              </nz-input-group>
              <ng-template #cutNumber>
                <button nzSize="small" nz-button nzType="text" (click)="onManualOrderNumberChange('cut')">-</button>
              </ng-template>
              <ng-template #addNumber>
                <button nzSize="small" nz-button nzType="text" (click)="onManualOrderNumberChange('add')">+</button>
              </ng-template>
            </div>
            <p nz-typography nzType="secondary" class="padding-top-10">
              主钱包资产
            </p>
            <div class="padding-bottom-10" nz-row *ngFor="let item of mainWallet">
              <p class="wallet-text wallet-symbol" nz-col [nzSpan]="24">{{item.symbol}}</p>
              <p class="wallet-text" nz-col [nzSpan]="24"><span class="wallet-desc">可用</span> {{item.available}}</p>
              <p class="wallet-text" nz-col [nzSpan]="24"><span class="wallet-desc">冻结</span> {{item.frozen}}</p>
            </div>
            <div class="padding-top-10" nz-row>
              <button
                class="action-btn action-btn-buy"
                nzType="primary"
                nz-col
                nz-button
                [nzSpan]="11"
                (click)="onManualOrder('buy')">
                买入
              </button>
              <button
                class="action-btn action-btn-sell"
                nzType="primary"
                nz-col
                nz-button
                [nzSpan]="11"
                [nzOffset]="2"
                (click)="onManualOrder('sell')">
                卖出
              </button>
            </div>
          </div>
          <div class="handle-form" *ngIf="actionType === 1">
            <ng-container *ngIf="!toolType" [ngTemplateOutlet]="automaticList"></ng-container>
            <ng-container *ngIf="toolType === 'sell' || toolType === 'buy'" [ngTemplateOutlet]="batch"></ng-container>
            <ng-container *ngIf="toolType === 'back'" [ngTemplateOutlet]="back"></ng-container>
          </div>
        </div>
      </div>
      <div class="page-chart" nz-col>
        <lib-kline-chart [symbol]="(symbols|async)?.join('_')" [exchange]="(platform|async)?.mark"></lib-kline-chart>
      </div>
    </div>
    <div class="page-table">
      <div class="table-tabs">
        <button class="table-tab table-tab-active" [ngClass]="{'table-tab-active':  tabType === 0}"
          [attr.data-total]="'(' + orderList.total + ')'" (click)="tabType = 0">
          订单管理
        </button>
        <!-- <button [ngClass]="{'table-tab-active':  tabType === 1}" class="table-tab" (click)="tabType = 1">
          机器人管理
        </button> -->
        <div class="table-space"></div>
        <!-- <a class="table-logs"><i class="iconfont icon-jilu"></i>交易记录</a> -->
      </div>
      <div class="table-list">
        <ng-container *ngIf="tabType === 0">
          <div class="table-head padding-top-5 padding-bottom-5" nz-row>
            <p nz-col [nzSpan]="4" class="margin-bottom-0 padding-left-10 opacity-8">价格</p>
            <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8">数量</p>
            <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8">已成交</p>
            <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8">方向</p>
            <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8">时间</p>
            <p nz-col [nzSpan]="4" class="text-right margin-bottom-0 padding-right-10 opacity-8">撤单</p>
          </div>
          <div class="table-body">
            <div class="table-item padding-top-5 padding-bottom-5" nz-row *ngFor="let item of orderList.list">
              <p nz-col [nzSpan]="4" class="margin-bottom-0 padding-left-10 opacity-8">{{item.price}}</p>
              <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8">{{item.number}}</p>
              <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8">{{item.successOrder}}</p>
              <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8" [ngClass]="item.directive">
                {{item.directive === 'sell' ? '卖出' : '买入'}}
              </p>
              <p nz-col [nzSpan]="4" class="text-center margin-bottom-0 opacity-8">{{item.time | date:'MM/dd HH:mm:ss'}}</p>
              <div nz-col [nzSpan]="4" class="text-right margin-bottom-0 padding-right-10 opacity-8">
                <button
                  nz-button
                  nzSize="small"
                  nzType="dashed"
                  (click)="onCancelOrder(item.id)">
                  撤单
                </button>
              </div>
            </div>
          </div>
          <lib-empty *ngIf="orderList.total === 0"></lib-empty>
        </ng-container>
        <ng-container *ngIf="tabType === 1">
          <lib-empty *ngIf="robotList.total === 0"></lib-empty>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="handicap-area" nz-col [nzSpan]="6">
    <div class="handicap-top" nz-row>
      <button nz-col [nzSpan]="12" nz-button nzSize="large" nzType="text" class="handicap-btn"
        [ngClass]="isSimpleBookList ? '' : 'opacity-5'">
        <span nz-icon nzType="fullscreen-exit" nzTheme="outline"></span>
        <span>普通盘口</span>
      </button>
      <button nz-col [nzSpan]="12" nz-button nzSize="large" nzType="text" class="handicap-btn"
        [ngClass]="isSimpleBookList ? 'opacity-5' : ''" (click)="onSwitchSimpleBookList()">
        <span>高级盘口</span>
        <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
      </button>
    </div>
    <div class="handicap-head" nz-row>
      <p class="margin-none" nz-col [nzSpan]="12">价格</p>
      <p class="margin-none" nz-col [nzSpan]="12">数量</p>
    </div>
    <div class="handicap-list">
      <ul class="handicap-sell padding-none margin-none">
        <li nz-row class="handicap-item" *ngFor="let item of sellOrderBookList">
          <span class="handicap-price" nz-col [nzFlex]="1">{{item.price}}</span>
          <span class="handicap-number" nz-col>{{item.amount}}</span>
        </li>
      </ul>
      <div class="handicap-divider"></div>
      <ul class="handicap-buy padding-none margin-none">
        <li nz-row class="handicap-item" *ngFor="let item of buyOrderBookList">
          <span class="handicap-price" nz-col [nzFlex]="1">{{item.price}}</span>
          <span class="handicap-number" nz-col>{{item.amount}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>




<nz-modal
[(nzVisible)]="selectModalValue.isVisible"
[nzTitle]="modalTitle"
nzCentered
[nzFooter]="null"
[nzContent]="modalContent"
(nzOnCancel)="onSelectPlatform(false)"
>
<ng-template #modalTitle>选择盘口</ng-template>
<ng-template #modalContent>
  <div class="input-item">
    <div class="title">收藏列表</div>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="收藏列表" [(ngModel)]="selectModalValue.collectionValue" (ngModelChange)="onWatchCollectionInput($event)">
      <nz-option *ngFor="let item of collectionList; let index = index;" [nzLabel]="item.name + '-' + item.symbols.join('/')" [nzValue]="index"></nz-option>
    </nz-select>
  </div>
  <div class="input-item">
    <div class="title">交易所</div>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择交易所" [(ngModel)]="selectModalValue.platformValue">
      <nz-option *ngFor="let item of exchangeList" [nzLabel]="item.name" [nzValue]="item.mark"></nz-option>
    </nz-select>
  </div>
  <div class="input-item">
    <div class="title">交易对</div>
    <div class="select-item">
      <input nz-input type="text" class="text-center" placeholder="选择币种1" [(ngModel)]="selectModalValue.symbolOneValue">
      <span>-</span>
      <input nz-input type="text" class="text-center" placeholder="选择币种2" [(ngModel)]="selectModalValue.symbolTwoValue">
    </div>
  </div>
  <div class="next-step">
    <button (click)="onSelectPairs()" nz-button nzType="primary">切换</button>
  </div>
</ng-template>
</nz-modal>



<ng-template #automaticList>
  <div class="automatic-item" nz-row nzAlign="middle">
    <div nz-col [nzSpan]="3" class="automatic-icon iconfont icon-piliangmairu"></div>
    <div nz-col [nzSpan]="14" class="automatic-text">
      <p class="automatic-title">批量下买单</p>
      <p class="automatic-desc">帮助您在某个价格区间内批量买入订单</p>
    </div>
    <div nz-col [nzSpan]="7">
      <button
        class="automatic-btn"
        nz-button
        (click)="toolType = 'buy'">
        进入
      </button>
    </div>
  </div>
  <div class="automatic-item" nz-row nzAlign="middle">
    <div nz-col [nzSpan]="3" class="automatic-icon iconfont icon-piliangmaichu"></div>
    <div nz-col [nzSpan]="14" class="automatic-text">
      <p class="automatic-title">批量下卖单</p>
      <p class="automatic-desc">帮助您在某个价格区间内批量卖出订单</p>
    </div>
    <div nz-col [nzSpan]="7">
      <button
        class="automatic-btn"
        nz-button
        (click)="toolType = 'sell'">
        进入
      </button>
    </div>
  </div>
  <div class="automatic-item" nz-row nzAlign="middle">
    <div nz-col [nzSpan]="3" class="automatic-icon iconfont icon-piliangchexiao"></div>
    <div nz-col [nzSpan]="14" class="automatic-text">
      <p class="automatic-title">批量撤单</p>
      <p class="automatic-desc">帮助您在撤销某个价格区间内所有订单</p>
    </div>
    <div nz-col [nzSpan]="7">
      <button
        class="automatic-btn"
        nz-button
        (click)="toolType = 'back'">
        进入
      </button>
    </div>
  </div>
</ng-template>

<ng-template #batch>
  <div class="tool-top" nz-row nzAlign="middle">
    <span nz-col [nzSpan]="3" *ngIf="toolType === 'buy'" class="iconfont icon-piliangmairu"></span>
    <span nz-col [nzSpan]="3" *ngIf="toolType === 'sell'" class="iconfont icon-piliangmaichu"></span>
    <span nz-col [nzFlex]="1">批量下{{toolType === 'buy' ? '买' : '卖'}}单</span>
    <button
      nz-button
      nzType="text"
      (click)="toolType = undefined">
      <span class="iconfont icon-guanbi"></span>
    </button>
  </div>
  <div class="tool-form">
    <p class="tool-form-title">{{toolType === 'buy' ? '买' : '卖'}}单挂单价格范围</p>
    <div class="tool-label" nz-row nzAlign="middle">
      <input
        nz-input
        type="number"
        placeholder="最小值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.priceMin" />
      <span nz-col [nzSpan]="4">~</span>
      <input
        nz-input
        type="number"
        placeholder="最大值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.priceMax" />
    </div>
    <p class="tool-form-title">下单数量</p>
    <div class="tool-label" nz-row nzAlign="middle">
      <input
        nz-input
        type="number"
        placeholder="最小值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.numberMin" />
      <span nz-col [nzSpan]="4">~</span>
      <input
        nz-input
        type="number"
        placeholder="最大值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.numberMax" />
    </div>
    <p class="tool-form-title">总单数(最大500)</p>
    <nz-input-number
      [nzMin]="0"
      [nzMax]="500"
      class="tool-input"
      type="number"
      placeholder="最大500"
      [(ngModel)]="toolFormValue.allOrder" />
    <p class="tool-form-title">价格小数点位数(整数)</p>
    <nz-input-number
      [nzMin]="0"
      [nzMax]="10"
      class="tool-input"
      type="number"
      placeholder="整数"
      [(ngModel)]="toolFormValue.decimal" />
    <button
      nz-button
      nzType="primary"
      [nzLoading]="toolFormValue.isLoading"
      (click)="onBatchOrder()">
      提交
    </button>
  </div>
</ng-template>


<ng-template #back>
  <div class="tool-top" nz-row nzAlign="middle">
    <span nz-col [nzSpan]="3" class="iconfont icon-piliangchexiao"></span>
    <span nz-col [nzFlex]="1">批量撤单</span>
    <button
      nz-button
      nzType="text"
      (click)="toolType = undefined">
      <span class="iconfont icon-guanbi"></span>
    </button>
  </div>
  <div class="tool-form">
    <p class="tool-form-title">价格范围</p>
    <div class="tool-label" nz-row nzAlign="middle">
      <input
        nz-input
        type="number"
        placeholder="最小值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.priceMin" />
      <span nz-col [nzSpan]="4">~</span>
      <input
        nz-input
        type="number"
        placeholder="最大值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.priceMax" />
    </div>
    <p class="tool-form-title">数量范围</p>
    <div class="tool-label" nz-row nzAlign="middle">
      <input
        nz-input
        type="number"
        placeholder="最小值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.numberMin" />
      <span nz-col [nzSpan]="4">~</span>
      <input
        nz-input
        type="number"
        placeholder="最大值"
        nz-col
        [nzSpan]="10"
        [(ngModel)]="toolFormValue.numberMax" />
    </div>
    <p class="tool-form-title">主钱包资产</p>
    <div class="padding-bottom-10" nz-row *ngFor="let item of mainWallet">
      <p class="wallet-text wallet-symbol" nz-col [nzSpan]="24">{{item.symbol}}</p>
      <p class="wallet-text" nz-col [nzSpan]="24"><span class="wallet-desc">可用</span> {{item.available}}</p>
      <p class="wallet-text" nz-col [nzSpan]="24"><span class="wallet-desc">冻结</span> {{item.frozen}}</p>
    </div>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="toolFormValue.isLoading"
      (click)="onBatchCancel()">
      提交
    </button>
  </div>
</ng-template>
