<h2 class="login-title" nz-typography>注册</h2>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <!-- 密码输入 -->
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入正确的用户名!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="username" placeholder="用户名" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- 密码输入 -->
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入正确的密码!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- 账户注册 -->
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入正确的邮箱!">
      <nz-input-group nzPrefixIcon="mail">
        <input type="email" nz-input formControlName="email" placeholder="邮箱" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- 验证码输入 -->
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入正确的验证码!">
      <nz-input-group nzPrefixIcon="safety-certificate">
        <input type="text" nz-input formControlName="captcha" placeholder="验证码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">注册</button>
  <a class="register-login" [routerLink]="['/auth/login']">前往登录</a>
</form>
