.content {
  padding: 1rem;
}
.title {
  font-size: 1.4rem;
}
.create-btn {
  width: 15rem;
  background-color: var(--attach-bg-color);
  color: var(--primary-color);
}
.card-list {
  padding: 2rem 0;
}
.card-title {
  font-size: 1.1rem;
}
.card-content {
  padding: 1rem;
  background-color: var(--attach-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}
.card-desc {
  opacity: 0.8;
  font-size: 0.8rem;
}
.card-edit {
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 5px;
}
.card-del {
  border-radius: 5px;
}

.card-no-data {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.6;
}



.input-item{
  display: flex;
  align-items: center;
  height: 44px;
  margin-top: 20px;
  .title{
    width: 100px;
    font-size: 14px;
    color: #9197b1;
  }
  nz-select {
    width: 400px;
  }
  input{
    width: 400px;
  }
  .select-item{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nz-select {
      width: 180px;
    }
    input{
      width: 180px;
    }
  }
  .code-input {
    width: 200px;
    margin-right: 20px;
  }
  .send-code-btn {
    width: 150px;
    border-color: var(--primary-color);
    color: var(--primary-color)
  }
}
.next-step{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  button {
    width: 200px;
  }
}
.model-desc {
  opacity: 0.8;
  font-size: 0.8rem;
  span {
    color: var(--down-color)
  }
}
.model-desc-padding {
  padding-top: 1rem;
}
