<div class="robots-work">
  <div class="robots-work-title">
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a [routerLink]="['/core/trade/robots']">操盘机器人</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <label nz-checkbox [(ngModel)]="checked" (ngModelChange)="updateAllChecked()">仅显示运行中</label>
  </div>
  <div *ngIf="robotList">
    <div class="robots-work-content-add">
      <button nz-button nzType="primary" [routerLink]="['/core/trade/robot-list']">添加机器人</button>
    </div>
    <div *ngFor="let items of robotList">
      <div class="robots-work-content-list" *ngFor="let item of items.coin">
        <div class="robots-work-content-list-item" *ngFor="let robotItem of item.robot">
          <div class="title">{{items.name}} {{item.name}}</div>
          <div class="info">
            <div class="info-item">{{robotItem.paramer}}</div>
            <div class="info-item">当前状态：{{robotItem.state?'运行中':'已停止'}}</div>
            <div class="info-bottom">
              <div class="btns">
                <div class="delete close" (click)="changeState(robotItem.state,robotItem.mark)">{{robotItem.state?'停止':'启动'}}</div>
                <div class="delete active" (click)="editRobot(robotItem)">编辑</div>
                <div class="delete" (click)="deleteConfirm(robotItem.mark)">删除</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="robots-work-add" *ngIf="!robotList">
    <img src="/assets/loginImg/jiqiren.png" alt="">
    <div class="text">当前暂无运行中机器人，去开启</div>
    <button nz-button nzType="primary" [routerLink]="['/core/trade/robot-list']">添加机器人</button>
  </div>
  <div class="robots-work-loading" *ngIf="isLoading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
  <nz-modal
    [(nzVisible)]="isVisible1"
    [nzTitle]="modalTitle"
    nzCentered
    [nzFooter]="null"
    [nzContent]="modalContent"
    (nzOnCancel)="handleCancel1()"
  >
    <ng-template #modalTitle>编辑盘口管理机器人</ng-template>
    <ng-template #modalContent>
      <div class="input-item">
        <div class="title">买盘每档数量</div>
        <input nz-input placeholder="输入买盘每档数量" [(ngModel)]="modalInfo1.buy_num" />
      </div>
      <div class="input-item">
        <div class="title">卖盘每档数量</div>
        <input nz-input placeholder="输入卖盘每档数量" [(ngModel)]="modalInfo1.sell_num" />
      </div>
      <div class="input-item">
        <div class="title">盘口差价</div>
        <input nz-input placeholder="输入盘口差价" [(ngModel)]="modalInfo1.handle_difference" />
      </div>
      <div class="input-item">
        <div class="title">每档差价</div>
        <input nz-input placeholder="输入每档差价" [(ngModel)]="modalInfo1.gear_difference" />
      </div>
      <div class="input-item">
        <div class="title">价格小数点位数</div>
        <input nz-input placeholder="输入价格小数点位数" [(ngModel)]="modalInfo1.decimal" />
      </div>
      <div class="input-item">
        <div class="title">维护档位数</div>
        <input nz-input placeholder="输入维护档位数" [(ngModel)]="modalInfo1.gear_count" />
      </div>
      <div class="next-step">
        <button nz-button nzType="primary">保存</button>
      </div>
    </ng-template>
  </nz-modal>
  <nz-modal
    [(nzVisible)]="isVisible2"
    [nzTitle]="modalTitle"
    nzCentered
    [nzFooter]="null"
    [nzContent]="modalContent"
    (nzOnCancel)="handleCancel2()"
  >
    <ng-template #modalTitle>编辑画线机器人</ng-template>
    <ng-template #modalContent>
      <div class="input-item">
        <div class="title">价格范围</div>
        <div class="select-item">
          <input nz-input placeholder="最大值" [(ngModel)]="modalInfo2.limit_max" />
          <span>-</span>
          <input nz-input placeholder="最小值" [(ngModel)]="modalInfo2.limit_min" />
        </div>
      </div>
      <div class="input-item">
        <div class="title">盘口差价</div>
        <input nz-input placeholder="输入盘口差价" [(ngModel)]="modalInfo2.handle_difference" />
      </div>
      <div class="input-item">
        <div class="title">每档差价</div>
        <input nz-input placeholder="输入每档差价" [(ngModel)]="modalInfo2.gear_difference" />
      </div>
      <div class="input-item">
        <div class="title">买盘每档数量</div>
        <input nz-input placeholder="输入买盘每档数量" [(ngModel)]="modalInfo2.buy_num" />
      </div>
      <div class="input-item">
        <div class="title">卖盘每档数量</div>
        <input nz-input placeholder="输入卖盘每档数量" [(ngModel)]="modalInfo2.sell_num" />
      </div>
      <div class="input-item">
        <div class="title">单次最大吃单</div>
        <input nz-input placeholder="输入单次最大吃单" [(ngModel)]="modalInfo2.max_num" />
      </div>
      <div class="input-item">
        <div class="title">价格小数点位数</div>
        <input nz-input placeholder="输入价格小数点位数" [(ngModel)]="modalInfo2.decimal" />
      </div>
      <div class="input-item">
        <div class="title">每日刷单总量</div>
        <input nz-input placeholder="输入每日刷单总量" [(ngModel)]="modalInfo2.day_count" />
      </div>
      <div class="next-step">
        <button nz-button nzType="primary">保存</button>
      </div>
    </ng-template>
  </nz-modal>
  <nz-modal
    [(nzVisible)]="isVisible3"
    [nzTitle]="modalTitle"
    nzCentered
    [nzFooter]="null"
    [nzContent]="modalContent"
    (nzOnCancel)="handleCancel3()"
  >
    <ng-template #modalTitle>编辑跟盘机器人</ng-template>
    <ng-template #modalContent>
      <div class="input-item">
        <div class="title">模式</div>
        <nz-radio-group [(ngModel)]="modalInfo3.mode" nzButtonStyle="solid">
          <label nz-radio-button nzValue="标准">标准模式</label>
          <label nz-radio-button nzValue="对冲">对冲模式</label>
        </nz-radio-group>
      </div>
      <div class="input-item">
        <div class="title">目标盘口</div>
        <input nz-input placeholder="输入目标盘口" [(ngModel)]="modalInfo3.target" />
      </div>
      <div class="input-item">
        <div class="title">盘口差价</div>
        <input nz-input placeholder="输入盘口差价" [(ngModel)]="modalInfo3.handle_difference" />
      </div>
      <div class="input-item">
        <div class="title">每档差价</div>
        <input nz-input placeholder="输入每档差价" [(ngModel)]="modalInfo3.gear_difference" />
      </div>
      <div class="input-item">
        <div class="title">买盘每档数量</div>
        <input nz-input placeholder="输入买盘每档数量" [(ngModel)]="modalInfo3.buy_num" />
      </div>
      <div class="input-item">
        <div class="title">卖盘每档数量</div>
        <input nz-input placeholder="输入卖盘每档数量" [(ngModel)]="modalInfo3.sell_num" />
      </div>
      <div class="input-item">
        <div class="title">单次最大吃单</div>
        <input nz-input placeholder="输入单次最大吃单" [(ngModel)]="modalInfo3.max_num" />
      </div>
      <div class="input-item">
        <div class="title">价格小数点位数</div>
        <input nz-input placeholder="输入价格小数点位数" [(ngModel)]="modalInfo3.decimal" />
      </div>
      <div class="input-item">
        <div class="title">每日刷单总量</div>
        <input nz-input placeholder="输入每日刷单总量" [(ngModel)]="modalInfo3.day_count" />
      </div>
      <div class="next-step">
        <button nz-button nzType="primary">保存</button>
      </div>
    </ng-template>
  </nz-modal>
</div>